{% load static %}
<!-- ======= About Us Section ======= -->
{% block aboutus %}

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>About Us</h2>
          <p>Welcome to Planet Book, your gateway to a world of knowledge and exploration. We are passionate about making education and information accessible to everyone, and that's why we've created this free digital library for students, scholars, and knowledge seekers worldwide.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Our Commitment --- Free Access --- Diverse Content --- Quality and Curation</h3>
            <p>Greetings from the Codiatic team! We are a passionate group of educators, developers, and lifelong learners dedicated to the pursuit of knowledge and the democratization of education. Together, we've embarked on a mission to transform the educational landscape by creating an innovative digital library designed with students and knowledge seekers in mind.

	</p>
	<h3>Our Journey</h3>
	<p>
	Our journey began with a shared vision: to break down the barriers that often hinder access to quality educational resources. Recognizing the power of technology, we set out to harness it for a greater purpose. With years of combined experience in education and software development, we formed Codiatic, a team committed to making a positive impact on the world of learning.
	</p>
	<h3>Our Digital Library</h3>

	<p>
	Introducing our brainchild, BOOK PLANET. It's not just a library; it's a labor of love. We've poured our expertise and dedication into curating a digital haven where learning knows no bounds. Here's what you can expect:
	<br>
	    <h4>Diverse Content:</h4> Our library boasts an expansive collection of materials, spanning a myriad of subjects, disciplines, and interests. From textbooks and academic articles to thought-provoking blogs, we've left no stone unturned.
	<br>
	    <h4>User-Centric Design:</h4> As educators, we understand the importance of an intuitive and user-friendly platform. We've meticulously crafted BOOK PLANET to ensure that you have a seamless and enjoyable learning experience.
	<br>
	    <h4>Innovation:</h4> Education is an ever-evolving field, and we're committed to staying at its forefront. Expect regular updates, new features, and cutting-edge resources as we continue to innovate and enhance your learning journey.
	</p>

	<h3>Why Codiatic?</h3>

	    <h4>Educator's Insight:</h4> Our team includes experienced educators who understand the needs of students and teachers alike. This insight informs everything we do, from content selection to platform design.

	    <h4>Tech Pioneers:</h4> We're not just educators; we're tech enthusiasts too. Our developers are at the forefront of technology trends, ensuring that BOOK PLANET remains a modern and reliable resource.

	    <h4>Global Impact:</h4> Our dream is to impact learners worldwide. We're here to support individuals, schools, and institutions in their quest for knowledge, no matter where they are.


	          </div>
	          <div class="col-lg-6">
	            <div class="content ps-0 ps-lg-5">
	              <p class="fst-italic">
	                Thank you for choosing BOOK PLANET as your educational companion. Together, we can redefine the way education is accessed and experienced. Join us on this exciting journey, and let's create a brighter future through knowledge.
	              </p>
	              <ul>

	              <div class="position-relative mt-4">
	                <img src="{% static 'images/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
	                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
	              </div>
	            </div>
	          <section id="team" class="team">
	            <img src="{% static 'images/about.jpg' %}" class="img-fluid rounded-4 mb-4"alt="Read Unlimited">
	          </section>
	          </div>
	        </div>

	      </div>
	    </section><!-- End About Us Section -->
{% endblock %}